.menu-button {
  display: flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    fill: $acent-color;
  }

  & .icon-close {
    display: none;
  }

  &.is-open .icon-close {
    display: block;
  }

  &.is-open .icon-menu {
    display: none;
  }

  &.is-open:hover .icon-close,
  &.is-open:focus .icon-close {
    fill: $acent-color;
  }
}
