.container.header {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    height: 60px;
  }
}

.menu-button {
  display: flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    fill: $acent-color;
  }

  & .icon-close {
    display: none;
  }

  &.is-open .icon-close {
    display: block;
  }

  &.is-open .icon-menu {
    display: none;
  }

  &.is-open:hover .icon-close,
  &.is-open:focus .icon-close {
    fill: $acent-color;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  display: none;

  @media screen and (max-width: 767px) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $primary-white-color;
    z-index: 1;
    border-top: 1px solid #ececec;
  }

  &.is-open {
    display: block;
  }
}

.site-nav {
  padding-left: 0;

  .list {
    display: block;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

.site-nav .link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: $title-text-color;

  transition: color 250ms $cubic;

  @media screen and (max-width: 767px) {
    padding-bottom: 12px;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.1;
  }

  &:hover,
  &:focus {
    color: $acent-color;
  }
}

.site-nav .link.current {
  color: $acent-color;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    height: 4px;
    background-color: $acent-color;
    border-radius: 2px;
  }
}

.page-header .contact {
  display: block;
  justify-content: center;
  padding-left: 0;

  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
}

.contact .list:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }
}

.contact .link {
  display: inline-block;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: $primary-text-coor;
  fill: $primary-text-coor;

  transition: color 250ms $cubic, fill 250ms $cubic;

  &:hover,
  &:focus {
    color: $acent-color;
    fill: $acent-color;
  }
}

.icon-post {
  width: 16px;
  height: 11px;
  margin-right: 10px;
}

.icon-phone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
}
