.section-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-second;
}

.section-team .section-title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team {
  padding-left: 0;
}

.item-name:not(:last-child) {
  margin-bottom: 30px;
}

.item-name .content {
  padding-top: 30px;
  padding-right: 122px;
  padding-bottom: 24px;
  padding-left: 122px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

  background-color: $background-first;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.section-team .section-title-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-team .section-text {
  margin-bottom: 15px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-social {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;

  .link:hover,
  .link:focus {
    background-color: $acent-color;
    fill: $background-first;
  }
}

.team .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: $background-first;
  fill: $primary-social-color;
  border-radius: 50%;

  transition: background-color 250ms $cubic, fill 250ms $cubic;
}

.team-social .icon-instagram {
  width: 24px;
  height: 24px;
}

.team-social .icon-twitter {
  width: 20px;
  height: 16px;
}

.team-social .icon-facebook {
  width: 10px;
  height: 20px;
}

.team-social .icon-linkedin {
  width: 20px;
  height: 20px;
}
